{% extends "base.html.twig" %}
{% block title %}Traductions | Kina {% endblock %}
{% block page_title_title %}Nos Traductions{% endblock %}
{% block page_title_second_title_full %}{% endblock %}
{% block page_title_content %}{% endblock %}

{% block content %}
<!-- blogs -->
<section class="section">
  <div class="container">
    <div class="row">
    {% for translation in translations %}
      
      <!-- blog post -->
      <article class="col-lg-4 col-sm-6 mb-5">
        <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{ asset ('assets/images/blog/post-1.jpg') }}" alt="Post thumb">
          <div class="card-body">
            <!-- post meta -->
            <ul class="list-inline mb-3">
              <!-- post date -->
              <li class="list-inline-item mr-3 ml-0">{{translation.dateReturn|date("d-m-Y")}}</li>
              <!-- author -->
              <li class="list-inline-item mr-3 ml-0">par {{translation.userTranslator.firstName}} {{translation.userTranslator.lastName}} </li>
            </ul>
            <a href="{{ path ('translation', { translationId: translation.id}) }}">
              <h4 class="card-title">{{translation.name}}</h4>
            </a>
            <p class="card-text text-truncate ">{{translation.contentToTranslate}}</p>
            <p class="card-text text-truncate ">{{translation.contentTranslated}}</p>
            <a href="{{ path ('translation', { translationId: translation.id}) }}" class="btn btn-primary btn-sm">Lire la traduction complète</a>
          </div>
        </div>
      </article>
      <!-- blog post -->
    {% endfor %}

    </div>
  </div>
</section>
<!-- /blogs -->
{% endblock %}
