
{# {{ form_start(response.data.registrationForm, {'attr': {'id': 'registerForm'}}) }}
  <div class="form-group col-12 mt-3">
    <div class="form-row">
      <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12 ">
        {{ form_label(registrationForm.lastName, 'Nom') }}   
         <span class="form-error text-danger mt-2 mb-1" > {{ form_errors(registrationForm.lastName) }}</span>          
        {{ form_widget (registrationForm.lastName, {'attr': {'class': 'form-control '}}) }}
      </div>

      <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12 ">
        {{ form_label(registrationForm.firstName, 'Prénom') }}      
        <span class="form-error text-danger mt-2 mb-1" > {{ form_errors(registrationForm.firstName) }}</span>          
        {{ form_widget (registrationForm.firstName, {'attr': {'class': 'form-control '}}) }}
      </div>

      <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12 ">
        {{ form_label(registrationForm.dateBirth, 'Date de naissance') }} 
        <span class="form-error text-danger mt-2 mb-1" > {{ form_errors(registrationForm.dateBirth) }}</span>               
        {{ form_widget (registrationForm.dateBirth, {'attr': {'class': 'form-control '}}) }}
      </div>
    </div>
  </div>
 
   <div class="form-group col-12 mt-3">
    <div class="form-row">
      <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
        {{ form_label(registrationForm.email, 'Email') }}    
        <span class="form-error text-danger mt-2 mb-1" > {{ form_errors(registrationForm.email) }}</span>          
        {{ form_widget (registrationForm.email, {'attr': {'class': 'form-control '}}) }}
      </div>

      <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
        {{ form_label(registrationForm.plainPassword, 'Mot de passe') }} 
        <span class="form-error text-danger mt-2 mb-1" > {{ form_errors(registrationForm.plainPassword) }}</span>              
        {{ form_widget (registrationForm.plainPassword, {'attr': {'class': 'form-control '}}) }}
      </div>
    </div>
  </div>
  <button id="registerButton" class="btn">ENVOYER</button>
  <div class="form-error text-danger mt-2 mb-1" >
    {{ form_errors(registrationForm) }}
  </div>
 
{{ form_end(registrationForm) }} #}
{# ================================= #}
<form id="registerForm ">
  <div class="col-12">
    <input
      type="text"
      class="form-control mb-3"
      name="lastName"
      placeholder="Nom"
    />
  </div>
   <div class="col-12">
    <input
      type="text"
      class="form-control mb-3"
      name="firstName"
      placeholder="Prénom"
    />
  </div>
  <div class="col-12">
    <input
      type="date"
      class="form-control mb-3"
      name="dateBirth"
      placeholder="Date de naissance"
    />
  </div>
  <div class="col-12">
    <input
      type="email"
      class="form-control mb-3"
      name="email"
      placeholder="Email"
    />
  </div>
  <div class="col-12">
    <input
      type="password"
      class="form-control mb-3"
      name="plainPassword"
      placeholder="Mot de passe"
    />
  </div>
  <div class="col-12">
    <button id="registerButton" type="submit" class="btn btn-primary ">ENVOYER</button>
  </div>
  <div id="divErrorMessage" class="form-error text-danger mt-2 mb-1" >
   
  </div>
</form> 
          

{# =============================================================================================  #}
 {% block my_js %}
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

 <script>
    document.getElementById("registerButton").addEventListener("click", function (event) {
        event.preventDefault();
        axios({
            url: '{{ path ("register") }}',
            method: 'POST',
            headers: { 'Content-Type': 'multipart/form-data' },
            data: new FormData(document.getElementById("registerForm"))
        })
        .then(function (response) {
                // response.data = objet(array associatif) qui est envoyé dans le controller
                // JsonResponse va transformer l'array en JSON. 
                // Axios transforme le JSON --en--> objet JS
                
                // si erreur
                if (response.data.error != undefined) {
                  console.log(response.data);
                    divErrorMessage.textContent  = response.data.error;
                   // window.location.href = "{{ path ('register') }}";
                }
                // si pas d'erreur
                else {

                    //console.log ('Registration OK');
                }
                
        })
        .catch(function (error) {
                console.log(error);
        });
    });    
</script>
 {% endblock %}
