
{{ form_start(registrationForm, {'attr': {'id': 'registerForm'}}) }}
  <div class="form-group col-12 mt-3">
    <div class="form-row">
      <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12 ">
        {{ form_label(registrationForm.lastName, 'Nom') }}   
         <span class="form-error text-danger mt-2 mb-1" > {{ form_errors(registrationForm.lastName) }}</span>          
        {{ form_widget (registrationForm.lastName, {'attr': {'class': 'form-control '}}) }}
      </div>

      <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12 ">
        {{ form_label(registrationForm.firstName, 'Prénom') }}      
        <span class="form-error text-danger mt-2 mb-1" > {{ form_errors(registrationForm.firstName) }}</span>          
        {{ form_widget (registrationForm.firstName, {'attr': {'class': 'form-control '}}) }}
      </div>

      <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12 ">
        {{ form_label(registrationForm.dateBirth, 'Date de naissance') }} 
        <span class="form-error text-danger mt-2 mb-1" > {{ form_errors(registrationForm.dateBirth) }}</span>               
        {{ form_widget (registrationForm.dateBirth, {'attr': {'class': 'form-control '}}) }}
      </div>
    </div>
  </div>
  {# -- #}
   <div class="form-group col-12 mt-3">
    <div class="form-row">
      <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
        {{ form_label(registrationForm.email, 'Email') }}    
        <span class="form-error text-danger mt-2 mb-1" > {{ form_errors(registrationForm.email) }}</span>          
        {{ form_widget (registrationForm.email, {'attr': {'class': 'form-control '}}) }}
      </div>

      <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
        {{ form_label(registrationForm.plainPassword, 'Mot de passe') }} 
        <span class="form-error text-danger mt-2 mb-1" > {{ form_errors(registrationForm.plainPassword) }}</span>              
        {{ form_widget (registrationForm.plainPassword, {'attr': {'class': 'form-control '}}) }}
      </div>
    </div>
  </div>
  <button id="registerButton" class="btn">ENVOYER</button>
  <div class="form-error text-danger mt-2 mb-1" >
    {{ form_errors(registrationForm) }}
  </div>
  <div id="divErrorMessage" class="form-error text-danger mt-2 mb-1" >
   <i> test test </i>
  </div>
{{ form_end(registrationForm) }}

          

{# =============================================================================================  #}
 {% block my_js %}
 <script>
    document.getElementById("registerButton").addEventListener("click", function (event) {
        event.preventDefault();
        axios({
            url: '{{ path ("register") }}',
            method: 'POST',
            headers: { 'Content-Type': 'multipart/form-data' },
            data: new FormData(document.getElementById("registerForm"))
        })
        .then(function (response) {
                // response.data = objet(array associatif) qui est envoyé dans le controller
                // JsonResponse va transformer l'array en JSON. 
                // Axios transforme le JSON --en--> objet JS
                
                // si erreur
                if (response.data.error != undefined) {
                    divErrorMessage.textContent  = response.data.error;
                   // window.location.href = "{{ path ('register') }}";
                }
                // si pas d'erreur
                else {
                    console.log ('Registration OK');
                }
                
        })
        .catch(function (error) {
                console.log(error);
        });
    });    
</script>
 {% endblock %}
