{% extends "base.html.twig" %}
{% block title %} {{execution.activity.name}} | Kina{% endblock %}
{% block page_title_title %}Nos activités {% endblock %}
{% block page_title_second_title_empty %}{% endblock %}
{% block page_title_second_title_full_title %}{{execution.activity.name}}{% endblock %}
{% block page_title_content %} Apprendre ikinyarwanda en jouant? Par groupe de 5 enfants maximun, les enfants apprennent à nommer les élements qui les entourent.{% endblock %}

{% block content %}
<!-- related course -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      {% if app.user %}
      <div class="mb-3">
          Bonjour {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
      </div>
      {% endif %}
      <div class="col-12">      
        <h2 class="section-title"> <i class="ti-book text-primary icon-md mr-2"></i> Etape 2</h2>
        
        <h3 class="mb-3"> Remplir l'inscription  </h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- course item -->
      <div class="col-lg-8 col-sm-6 mb-3">
        <div class="card p-0 border-primary rounded-0 hover-shadow mb-5">
            {{ form_start (participationForm) }}              
              <div class="form-group col-12 mt-3">
                  {{ form_label(participationForm.target, 'Participant') }}              
                <div class="form-row">
                  <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                    {{ form_widget (participationForm.target, {'attr': {'class': 'form-control mb-3'}}) }}
                  </div>
                  <div class="form-group col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                    {{ form_widget (participationForm.child, {'attr': {'class': 'form-control mb-3'}}) }}
                  </div>
                </div>
              </div>
              <div class="form-group col-12 ">
                {{ form_label(participationForm.typePayement, 'Moyen de payement') }}
                {{ form_widget (participationForm.typePayement, {'attr': {'class': 'form-control mb-3'}}) }}
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-start">
                  <div class="col-2">
                    {{ form_widget (participationForm.pricePayed,{'attr': {'class': 'form-control  mb-3'}}) }}
                  </div>
                  <div class="col-5">
                    <a href="{{ path ('payement-paypal', {selectedOne: execution.activity.id} ) }}" class="btn btn-dark btn-lg"><span class="text-primary">payer - via Paypal</span> </a>
                  </div>
                </div>
              </div>
              <div class="form-group col-12 d-none mb-3 ">
                {{ form_widget (participationForm.user, {'attr': {'class': 'form-control mb-3'}}) }}
              </div>
              <div class="form-group col-12 d-none">
                {{ form_widget (participationForm.activityExecution, {'attr': {'class': 'form-control mb-3'}}) }}
              </div>
              <div class="form-group col-12 ">
                <input type="hidden" name="idActivityExecution" value="{{execution.id}}" />                
              </div>
                {# {{ form_widget (participationForm.datePayement) }} #}
                {# {{ form_widget (participationForm.statusPayement) }} #}
                {# {{ form_widget (participationForm.comment) }} #}
                <div class="form-group col-12 ">
                  <button type="submit" class="btn btn-primary btn-sm mb-5">ENVOYER</button>
                </div>
            {{ form_end (participationForm, {'render_rest': false})}}
        </div>
      </div>


      {# 
        <form action="#" class="row">
              <div class="col-12">
                <input
                  type="text"
                  class="form-control mb-3"
                  id="loginPhone"
                  name="loginPhone"
                  placeholder="Phone"
                />
              </div>
              <div class="col-12">
                <input
                  type="text"
                  class="form-control mb-3"
                  id="loginName"
                  name="loginName"
                  placeholder="Name"
                />
              </div>
              <div class="col-12">
                <input
                  type="password"
                  class="form-control mb-3"
                  id="loginPassword"
                  name="loginPassword"
                  placeholder="Password"
                />
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary text-uppercase">envoyer</button>
              </div>
            </form>
       #}
      <!-- course item -->
      <!-- course item -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <div class="card-header">
            <p class="card-text mb-2"><strong> L'activité choisie : </strong></p>
            <h4 >{{execution.activity.name}}</h4>
          </div>
          <img class="card-img-top rounded-0" src="{{ asset ('assets/images/activites/course-1.jpg') }}" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>{{execution.date|date("d-m-Y")}} {#{{activityExecution.date|format_datetime('none', 'short')}}#} </li>

              {% if (execution.isComplete) %}
              <li class="list-inline-item"><a class=" ti-check-box text-color" href="#"> Complet</a></li>

              {% else %} 
              <li class="list-inline-item"><i class=" ti-hand-open  mr-1 text-color"></i>{{execution.freePlace}}/{{execution.activity.place}} places restantes</li>
              {% endif %}
              {# <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li> #}
            </ul>
              {# <a href="{{ path ('activite') }}">
                <h4 class="card-title">{{execution.activity.name}}</h4>
              </a> #}
            <p class="card-text text-truncate mb-4">{{execution.activity.description}}</p>
            <p class="card-text mb-4"><strong> Animée par :</strong></p>
            <ul class="list-inline mb-2">
              {% for animator in execution.userAnimators  %}
              <li class="list-inline-item"><i class="ti-palette mr-1 text-color"></i>{{animator.firstName|capitalize}} {{animator.lastName|capitalize}} </li>          
              {% endfor %}
            </ul>
            <a href="{{ path ('activity-executions', {selectedOne: execution.activity.id} ) }}" class="btn btn-primary btn-sm"> Voir autres dates </a>
          </div>
        </div>
      </div>
      <!-- course item -->      
    </div>
  </div>
</section>
<!-- /related course -->



{% endblock %}
