{% extends "base.html.twig" %}
{% block title %} {{execution.activity.name}} | Kina{% endblock %}
{% block page_title_title %}Nos activités {% endblock %}
{% block page_title_second_title_empty %}{% endblock %}
{% block page_title_second_title_full_title %}{{execution.activity.name}}{% endblock %}
{% block page_title_content %} {% endblock %}

{% block content %}
<!-- related course -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">      
        <h2 class="section-title"> <i class="ti-book text-primary icon-md mr-2"></i> Etape 3 </h2>
        <p class="h3 text-color font-secondary"> Inscription réussie !</p>
        <p>
          {% if participationInserted.user is null %}
          <span class=" text-primary font-secondary">{{participationInserted.child.firstName }}</span> est 
          {% else %}
          <span class=" text-primary font-secondary">{{participationInserted.user.firstName }} {{participationInserted.user.lastName }}, voues êtes </span> 
          {% endif %} 
          bien inscrit à l'activité <span class=" text-primary font-secondary">{{participationInserted.activityExecution.activity.name}}</span> du <span class=" text-primary ">{{participationInserted.activityExecution.date |date('d-m-Y')}}</span> 
        </p>
      </div>
    </div>
    
  </div>
</section>
<!-- /related course -->



{% endblock %}
