{% extends "base.html.twig" %}
{% block title %}Nos activités | Kina{% endblock %}
{% block page_title_title %}Nos Activites{% endblock %}
{% block page_title_second_title_full %}{% endblock %}
{% block page_title_content %}Nos activites éveilleront l'intérêt de l'enfant pour la langue de son parent{% endblock %}

{% block content %}
<!-- activites -->
<section class="section">
  <div class="container">
    <!-- course list -->
    <div class="row justify-content-center">
      {% for activity in nosActivites %}
      <!-- course item -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{ asset ('assets/images/activites/course-1.jpg') }}" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><i class=" ti-hand-open  mr-1 text-color"></i>{{activity.place}} participants</li>
              <li class="list-inline-item"><a class=" text-color" href="#">{{(activity.price)/3}} €/h</a></li>
            </ul>
            <a href="{{ path ('une-activite') }}">
              <h4 class="card-title">{{activity.name}}</h4>
            </a>
            <p class="card-text text-truncate mb-4"> {{activity.description}}</p>
            <a href="{{ path ('une-activite', { activityId: activity.id } ) }}" class="btn btn-primary btn-sm">Participer</a>
                        
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- course item -->
      {# <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{ asset ('assets/images/activites/course-2.jpg') }}" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
              <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
            </ul>
            <a href="{{ path ('une-activite') }}">
              <h4 class="card-title">Programming</h4>
            </a>
            <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna.</p>
            <a href="{{ path ('une-activite') }}" class="btn btn-primary btn-sm">Apply now</a>
          </div>
        </div>
      </div> #}
     
    </div>
    <!-- /course list -->
        <!-- course list -->
    <div class="row justify-content-center">
      <!-- course item -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{ asset ('assets/images/activites/course-1.jpg') }}" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
              <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
            </ul>
            <a href="{{ path ('une-activite') }}">
              <h4 class="card-title">Photography</h4>
            </a>
            <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna.</p>
            <a href="{{ path ('une-activite') }}" class="btn btn-primary btn-sm">Apply now</a>
          </div>
        </div>
      </div>   
      <!-- course item -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{ asset ('assets/images/activites/course-5.jpg') }}" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
              <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
            </ul>
            <a href="{{ path ('une-activite') }}">
              <h4 class="card-title">Branding Design</h4>
            </a>
            <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna.</p>
            <a href="{{ path ('une-activite') }}" class="btn btn-primary btn-sm">Apply now</a>
          </div>
        </div>
      </div>
     
    </div>
    <!-- /course list -->
  </div>
</section>
<!-- /activites -->
{% endblock %}
