    {% extends "base.html.twig" %}
    {% block title %}Zone Membre | Kina{% endblock %}
    {% block page_title_title %}Ma session parent {% endblock %}
    {% block page_title_second_title_empty %}{% endblock %}
    {% block page_title_second_title_full_title %} Bonjour {{app.user.firstName}} {% endblock %}
    {% block page_title_content %} Ici, vous trouverez vos informations personnelles{% endblock %}
            
    {% block content %}
    {# {% if app.user %}
    {% endif %}  #}
    <div class="row mb-3">
        <div class="col-2  ">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mes données </a>
                
                {% if (app.user.children != null) %}
                {% for child in app.user.children %}
                <a class="nav-link" id="{{child.id}}-{{child.firstName}}-tab" data-toggle="pill" href="#{{child.id}}-{{child.firstName}}" role="tab" aria-controls="{{child.id}}-{{child.firstName}}" aria-selected="false">Enfant - {{child.firstName}}</a>
                {% endfor %}

                {% endif %}
                <a class="nav-link" id="v-pills-child-tab" data-toggle="pill" href="#v-pills-child" role="tab" aria-controls="v-pills-child" aria-selected="false">Ajouter un enfant</a>
                
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content " id="v-pills-tabContent">
                <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    {# ===========inline form================== #}
                    {# <form class="form-inline">
                        <label class="sr-only" for="inlineFormInputName1">Nom</label>
                        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName1" placeholder="{{app.user.lastName}}">
                        
                        <label class="sr-only" for="inlineFormInputName2">Prénom</label>
                        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="{{app.user.firstName}}">

                         <label class="sr-only" for="inlineFormInputName2">Date de naissance</label>
                        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="{{app.user.dateBirth | date("m/d/Y")}}">

                        <label class="sr-only" for="inlineFormInputGroupUsername2">Email</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="{{app.user.email}}">
                        </div>

                        <button type="submit" class="btn btn-primary mb-2 ">Modifier</button>
                    </form> #}
                    {# =============card======================= #}
                    <div class="card" style="width: 15rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> {{app.user.email}}</li>
                            <li class="list-group-item"> {{app.user.lastName}}</li>
                            <li class="list-group-item"> {{app.user.firstName}}</li>
                            <li class="list-group-item"> {{app.user.dateBirth | date("m/d/Y")}}</li>
                        </ul>
                        <a href="#" class="btn btn-primary col-6">Modifier</a>
                    </div>
                    {% if app.user.participations != null %}
                    <h4 class="card-title mb-3 mt-3">MES PARTICIPATIONS ({{app.user.participations|length}})</h4>
                    <div class="row">
                        {% for partcipation in app.user.participations %}
                        <!-- event -->
                        <div class="col-lg-4 col-sm-6 mb-5">
                            <div class="card border-0 rounded-0 hover-shadow">
                                <div class="card-img position-relative">
                                    <img class="card-img-top rounded-0" src="{{ asset ('assets/images/events/event-1.jpg') }}" alt="event thumb">
                                    <div class="card-date">{{partcipation.activityExecution.date | date('d-m-Y')}}</div>
                                </div>
                                <div class="card-body">
                                    <ul class="list-inline mb-3">
                                        <!-- author -->
                                        <li class="list-inline-item mr-3 ml-0">Animateur(s) : {{partcipation.activityExecution.userAnimators|map((u)=> "#{u.firstName} #{u.lastName}")|join(', ')}}</li>
                                        <!-- post date -->
                                        <li class="list-inline-item mr-3 ml-0">Paiement: </strong> {{partcipation.statusPayement }}</li>
                                    </ul>
                                    <!-- location -->
                                    {# <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p> #}
                                    <h4 class="card-title">{{partcipation.activityExecution.activity.name}}</h4>
                                    {# <a href="{{ path ('event-single') }}">
                                    <h4 class="card-title">{{partcipation.activityExecution.activity.name}}</h4>
                                    </a> #}
                                    {% if partcipation.comment != null  %}
                                    <p><strong>Votre commentaire: </strong> {{partcipation.comment }}</p>
                                    {% else %}
                                    <a href="#" class="btn btn-primary">Ajouter un commentaire</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                    {% endif %}
                    {# ======form class - registrationType =====#}
                    {# {{ form_start(formUser, {'attr': {'class': 'form-inline'}}) }}
                        {{ form_label(formUser.lastName, 'Nom') }}   
                        <span class="form-error text-danger mt-2 mb-1" > {{ form_errors(formUser.lastName) }}</span>          
                        {{ form_widget (formUser.lastName, {'attr': {'class': 'form-control '}}) }}

                        {{ form_label(formUser.firstName, 'Prénom') }}      
                        <span class="form-error text-danger mt-2 mb-1" > {{ form_errors(registrationForm.firstName) }}</span>          
                        {{ form_widget (formUser.firstName, {'attr': {'class': 'form-control '}}) }}

                        {{ form_label(registrationForm.dateBirth, 'Date de naissance') }} 
                        <span class="form-error text-danger mt-2 mb-1" > {{ form_errors(registrationForm.dateBirth) }}</span>               
                        {{ form_widget (formUser.dateBirth, {'attr': {'class': 'form-control '}}) }}

                        <button id="registerButton" class="btn">ENVOYER</button>
                    {{ form_end(formUser) }}   #}
                </div>
                {% if (app.user.children != null) %}               
                {% for child in app.user.children %}                   
                <div class="tab-pane fade" id="{{child.id}}-{{child.firstName}}" role="tabpanel" aria-labelledby="{{child.id}}-{{child.firstName}}-tab">
                    <h4 class="card-title mb-3 mt-3">LES PARTICIPATIONS de {{child.lastName}} {{child.firstName}} ({{child.participations|length}})</h4>
                    <div class="row">
                        {% for partcipation in child.participations %}
                        <!-- event -->
                        <div class="col-lg-4 col-sm-6 mb-5">
                            <div class="card border-0 rounded-0 hover-shadow">
                                <div class="card-img position-relative">
                                    <img class="card-img-top rounded-0" src="{{ asset ('assets/images/events/event-1.jpg') }}" alt="event thumb">
                                    <div class="card-date">{{partcipation.activityExecution.date | date('d-m-Y')}}</div>
                                </div>
                                <div class="card-body">
                                    <ul class="list-inline mb-3">
                                        <!-- author -->
                                        <li class="list-inline-item mr-3 ml-0">Animateur(s) : {{partcipation.activityExecution.userAnimators|map((u)=> "#{u.firstName} #{u.lastName}")|join(', ')}}</li>
                                        <!-- post date -->
                                        <li class="list-inline-item mr-3 ml-0">Paiement: </strong> {{partcipation.statusPayement }}</li>
                                    </ul>
                                    <!-- location -->
                                    {# <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p> #}
                                    <h4 class="card-title">{{partcipation.activityExecution.activity.name}}</h4>
                                    {# <a href="{{ path ('event-single') }}">
                                    <h4 class="card-title">{{partcipation.activityExecution.activity.name}}</h4>
                                    </a> #}
                                    {% if partcipation.comment != null  %}
                                    <p><strong>Votre commentaire: </strong> {{partcipation.comment }}</p>
                                    {% else %}
                                    <a href="#" class="btn btn-primary">Ajouter un commentaire</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                        <!-- event -->
                        
                    
                </div>
                {% endfor %}
                {% endif %}
                <div class="tab-pane fade" id="v-pills-child" role="tabpanel" aria-labelledby="v-pills-child-tab">
                    <h4 class="card-title mb-3 mt-3">Formulaire d'inscription d'un enfant</h4>
                    
                </div>
               
            </div>
        </div>
    </div>
    {% endblock %}